<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>test</title>
</head>
<body>

<form action="/user/dologin" method="post">
    <div class="form-group">
        <label for="userName">Name</label>
        <input type="text" name="name" class="form-control" id="userName" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <button type="登陆" class="btn btn-default">Submit</button>
</form>


<script type="text/javascript">
        var userName='testtest';
        $.ajax({
            url:"/user/checkUser",
            type:"post",
            data:{userName:userName},
            success:function (data) {
                console.log(data);
                //接收单个参数和前端交互
                if(data){
                    alert("成功！")
                }
            },
            error:function () {
                alert("错误！")
            }
        })



    // $(function(){
    //     $("#userName").blur(function() {
    //         var userName = $("#userName").val();
    //         $.ajax({
    //             url:"/user/checkUser",
    //             type:"post",
    //             data:{userName:userName},
    //             success:function (data) {
    //                 //接收单个参数和前端交互
    //                 //这里做一些你想做的。
    //                 //data(success中的data)就是后台响应传递来的数据，具体请看接收参数模块
    //                 if(data){
    //                     $("#UserError").text("乘车人已存在");
    //                 }
    //             },
    //             error:function () {
    //                 alert("错误！")
    //             }
    //         })
    //     });
    // });
</script>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="/webjars/jquery/3.2.1/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        var userName='testtest';
        $.ajax({
            url:"/user/checkUser",
            type:"post",
            data:{userName:userName}
        })
    });



    /*$(function(){
        $("#userName").blur(function() {
            var userName = $("#userName").val();
            $.ajax({
                url:"/user/checkUser",
                type:"post",
                data:{userName:userName},
                success:function (data) {
                    //接收单个参数和前端交互
                    //这里做一些你想做的。
                    //data(success中的data)就是后台响应传递来的数据，具体请看接收参数模块
                    if(data){
                        $("#UserError").text("乘车人已存在");
                    }
                },
                error:function () {
                    alert("错误！")
                }
            })
        });
    });*/
</script>
</body>
</html>